{% load staticfiles %}
{% load blog_tags %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>lemon_site</title>
<meta name="keywords" content="个人博客模板" />
<meta name="description" content="学习py" />
<link href="{% static 'blog2/css/base.css' %}" rel="stylesheet">
{% block css %}

{% endblock css %}
<!--[if lt IE 9]>
<script src="{% static 'blog2/js/jsilder.js' %}"></script>
<![endif]-->
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
  {% block topnav %}
  <nav class="topnav" id="topnav"><a href="/"><span>首页</span><span class="en">Protal</span></a><a href="/"><span>关于我</span><span class="en">About</span></a><a href="/"><span>慢生活</span><span class="en">Life</span></a><a href="/"><span>碎言碎语</span><span class="en">Doing</span></a><a href="/"><span>博文分享</span><span class="en">Share</span></a><a href="/"><span>学无止境</span><span class="en">Learn</span></a><a href="/"><span>留言版</span><span class="en">Gustbook</span></a></nav>
  {% endblock topnav %}
</header>
{% block banner %}

{% endblock banner %}
{% block display %}

{% endblock display %}

{% block article %}

{% endblock article %}
<footer>
  <p>Design by DanceSmile <a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备11002373号-1</a> <a href="/">网站统计</a></p>
</footer>
<script src="{% static 'blog2/js/jsilder.js' %}"></script>
</body>
</html>